body{
    background-color: azure;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
}

th, td{
    border: 1px solid black;
    padding: 0.2em;
}

th{
    background-color: darkolivegreen;
    color: aliceblue;
}

tr:nth-child(odd){
    background-color: darkgray;
}


.content, h1{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.advanced{
    border: 2px solid;
    text-align: right;
}

h3{
    margin: auto;
    width: 30%;
    padding: 10px;
}

.buttondiv{
    text-align: center;
}

button{
    width: 100px;
    height: 50px;
}




